option_settings:
  aws:ec2:vpc:
    VPCId: vpc-0d753900103274d28
    Subnets: subnet-014412188c65ee344,subnet-0467858e933ab1406
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 1
　aws:autoscaling:launchconfiguration:
    SecurityGroups: sg-0e0c077ef6fa02c22
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
